:root {
  background-color: #000;
  color: white;
}

#registers {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: large;
}

#code-editor {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#memory {
  font-family: 'Courier New', Courier, monospace;
}

.byte-record {
  display: flex;
}

.byte-record > div {
  padding: 0 0.5rem;
}

.rep-data {
  color: #44aa00ff;
}

.current-memory {
  background-color: #44aa00ff;
}

#code {
  font-size: larger;
}

.cm-editor {
  min-height: calc(1.5rem * 10);
}

#errors {
  border-radius: 0.1rem;
  outline: none !important;
  border: none;
}
