:root {
  background-color: #141516;
  color: white;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
}

#registers {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: large;
}

#code-editor {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#memory {
  font-family: 'Courier New', Courier, monospace;
}

.byte-record {
  display: flex;
}

.byte-record > div {

  padding: 0 0.5rem ;
}

.current-memory {
  background-color: #005f5a;
}

#code {
  font-size: larger;
}

.cm-editor {
  min-height: calc(1.5rem * 10);
}

#errors {
  border-radius: 0.1rem;
  backgroud {
  outline: none !important;
  border: none;
}
